<launch>
	<node pkg = "car_control" type = "car_control_node" name = "car_control" output = "screen">
	
	<param name = "steering_angle_topic" 	type = "string"      value = "/steering_angle"/>   
	<param name = "car_speed_topic"      	type = "string"      value = "/car_speed"/>   
	
	<param name = "buffer_1" 				type = "double"      value = "0"/>
	<param name = "buffer_2" 				type = "double"      value = "0"/>

	</node>
</launch>
